<?php

namespace {{ namespace }};

use Illuminate\Database\Console\Seeds\WithoutModelEvents;
use Illuminate\Database\Seeder;
use Illuminate\Support\Facades\DB;
use App\Models\\{{ classify name }};

class {{ class }} extends Seeder
{
    /**
     * Run the database seeds.
     *
     * @return void
     */
    public function run()
    {
        DB::table('{{ lowercase (pluralize name) }}')->delete();

        ${{ underscore name}} = {{ classify name}}::factory()->create();

    }
}
